.blogpost{
    background-color: aquamarine;
    padding:30px 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.blogpost h2{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
    color:rgb(147, 130, 107);
}
.blogpost p{
    font-weight: bold;
    line-height: 2rem;
    font-size: 18px;
}
